<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"lithia-post-shell","layout":{"type":"constrained"}} -->
<main class="wp-block-group lithia-post-shell">
	<!-- wp:post-featured-image {"aspectRatio":"16/9"} /-->
	<!-- wp:post-title {"level":1} /-->
	<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap"}} -->
	<div class="wp-block-group">
		<!-- wp:post-date {"fontSize":"xs"} /-->
		<!-- wp:post-author-name {"isLink":true,"fontSize":"xs"} /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	<!-- wp:comments /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
